@-webkit-keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes fade-and-move {
    0%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
}
@keyframes fade-and-move {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-200%);
    }
}

@-webkit-keyframes beating {
    0%{
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes beating {
    0%{
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes fall-down {
    0%{
        -webkit-transform: translateY(-300%);
    }
    60%{
        -webkit-transform: translateY(5%);
    }
    70%{
        -webkit-transform: translateY(-3%);
    }
    80%{
        -webkit-transform: translateY(3%);
    }
    90%{
        -webkit-transform: translateY(-1%);
    }
    100%{
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fall-down {
    0%{
        transform: translateY(-300%);
    }
    60%{
        transform: translateY(5%);
    }
    70%{
        transform: translateY(-3%);
    }
    80%{
        transform: translateY(3%);
    }
    90%{
        transform: translateY(-1%);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes fly-from-right {
    0%{
        -webkit-transform: translateX(200%);
    }
    100%{
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fly-from-right {
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes show-hide {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes show-hide {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes running-path1 {
    0%{
        -webkit-transform: translate(0);
    }
    100%{
        -webkit-transform: translate(-520%);
    }
}
@keyframes running-path1 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-520%);
    }
}
@-webkit-keyframes running-path2 {
    0%{
        -webkit-transform: translate(0);
        bottom: 48%;
    }
    100%{
        bottom: 63%;
        -webkit-transform: translate(-520%);
    }
}
@keyframes running-path2 {
    0%{
        transform: translate(0);
        bottom: 48%;
    }
    100%{
        bottom: 63%;
        transform: translate(-520%);
    }
}
@-webkit-keyframes running-path3 {
    0%{
        -webkit-transform: translate(0);
        bottom: 42%;
    }
    70%{
        bottom: 22%;
    }
    100%{
        bottom: 22%;
        -webkit-transform: translate(-520%);
    }
}
@keyframes running-path3 {
    0%{
        transform: translate(0);
        bottom: 42%;
    }
    70%{
        bottom: 22%;
    }
    100%{
        bottom: 22%;
        transform: translate(-520%);
    }
}

@-webkit-keyframes rotating {
    from{
        opacity: 1;
        -webkit-transform: rotateZ(0);
    }
    to{
        -webkit-transform: rotateZ(360deg);
        opacity: 1;
    }
}
@keyframes rotating {
    from{
        opacity: 1;
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
        opacity: 1;
    }
}
