body{
  overflow: hidden;
  margin: 0;
}
h1{
  position: absolute;
  width: 100%;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 40px;
  color: #c70012;
  text-shadow: 5px 5px 5px pink; // 没错这里设置了两个 shadow
}
@media (min-width:1200px){
  h1{
    font-size: 60px;
  }
}